/* 改变主题色变量 */
$--color-primary: #0025FF;
$--color-success: #67C23A;
$--color-adorn: #e00e5f;
$--text-primary: #424346;
$--text-second: #79797C;
$--text-minor: #DCDFE6;
$--daff-normal: 1.5em;
$--bg-success: #4B64F8;
$--bg-dark: #333333;
$--bg-dark-second: #3D3C3C;
$--title-mub: #333335;